@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<div class="container">
    <a class="btn btn-primary" asp-action="CabDriverHome" asp-controller="Home">Register Cab</a>
    <a class="btn btn-primary">View Request</a>
    @*<a class="btn btn-primary" ></a>*@
</div>