@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> userManager;
@model IEnumerable<Cab>;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    var userinfo = userManager.FindByNameAsync(User.Identity.Name);
    int count = 0;
}
<div class="container">
    <div class="card-group">
    @foreach(var cab in Model){
            @if (ViewBag.city == cab.City)
            {
                var photoPath = "~/images/" + (cab.PhotoPath ?? "Barbaadiyan.jpg");
                <div class="card m-3" style="min-width:18rem; max-width:30.5%;">
                    <img src="@photoPath" class="card-img-top imageThumbnail" asp-append-version="true">
                <div class="card-body">
                    <h5 class="card-title">@cab.CabModel</h5>
                    @if(cab.AC){
                            <p class="card-text">A.C.
                            </p>
                    }else{
                            <p class="card-text">
                                NON A.C.
                            </p>
                    }
                    <p class="card-text">NumberPlate: @cab.numberPlate</p>
                </div>
                <div class="card-footer">
                    <a asp-controller="home" asp-action="book" class="btn btn-primary m-1">Book</a>
                    <a asp-action="index" asp-controller="home" class="btn btn-primary m-1">Back</a>
                    <a href="#" class="btn btn-danger m-1">Delete</a>
                </div>
            </div>
                    count++;
            }
        
    }

    </div>
    @if(count == 0){
        <h1>Sorry, There is no any taxi available in @userinfo.Result.City</h1>
    }
</div>
